.selfie {
  max-width: 60%;
}

.gitSvg {
  width: 30%;
  height: auto;
}
svg {
  width: 30%;
  height: auto;
}
.svgContainer {
  display: flex;
  text-align: center;
}
.gitA {
  width: 100%;
}
.videoContainer > video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 68%;
  pointer-events: none;
  z-index: -1;
}
.videoContainer .about {
  position: absolute;
  z-index: 1;
}

.about {
  color: white;
}
